{% extends 'partials/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<h2 class="pt-5 mt-5">Introducing Emotion Classifier Model</h2>
<hr>
<div>
    <p>
        We have trained a saveral <span class="badge rounded-pill bg-light text-dark">Machine Learning Model</span> on a <a href="https://www.kaggle.com/datasets/parulpandey/emotion-dataset" class="link-info" target="blank_">kaggel dataset</a>. <br>
        The models we trained are <b>Naive Bayes</b>, <b>Support Vector Classifier(svm)</b>, <b>Random Forest Classifier</b>, <br>
        <b>Logistic Regression</b>, <b>K-nearest neighbours(KNN)</b> and <b>Dicision Tree Regression</b>. <br>
        The Logistic Regression model has shown better accuracy. The trained model can now predict emotion from a text sequence. <br>
        <br>

        <span>There are six type of emotion that the model is able to predict<span>.
    </p>
    <br><br>
    <a href="{% url 'make-prediction' %}" class="btn btn-secondary btn-l" role="button">Try it</a>
</div>
{% endblock content %}